
<h1>Questions</h1>
<form method="post" action="http://127.0.0.1:8080/check-results">
        <ul>
                {% for question in questions %}
                        <li>
                                <h3>{{ question.questionText }}</h3>
                                <ol>
                                        {% for option in question.answerOptions %}
                                                <li>
                                                    <input type="checkbox" name="question_{{ question.id }}&answer_{{ option.key }}">
                                                    <label>{{ option.text }}</label>
                                                </li>
                                        {% endfor %}
                                </ol>

                        </li>
                {% endfor %}
        </ul>
    <button type="submit">Check!</button>
</form>
